include LICENSE
include README.md
include CHANGELOG.md
include pyproject.toml
recursive-include lazydjango/templates *.j2
recursive-include lazydjango/bruno *.json *.bru
graft lazydjango/ui/out
global-exclude __pycache__
global-exclude *.pyc
global-exclude *.pyo
global-exclude .DS_Store
global-exclude *.egg-info
global-exclude dist
global-exclude build
